<h2 class="screen-align">Types</h2>
<div id="template-iaxo" class="row">
    <div id="template-itjy" class="cell">
        <label id="template-is73" class="label">Name</label>
        <input id="template-idvb" [(ngModel)]="Types.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-ihot" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-is5l" class="cell">
        <label id="template-ikrs" class="label">Description</label>
        <input id="template-i9z3" [(ngModel)]="Types.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>