<h2 class="screen-align">SearchModifyTickets</h2>
<div id="template-ijac" class="row">
    <div id="template-io6j" class="cell">
        <label id="template-i5bi" class="label">Name</label>
        <input id="template-i2pg" [(ngModel)]="tickets.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i8g9" class="cell">
        <label id="template-ixiy" class="label">Description</label>
        <input id="template-ifzp" [(ngModel)]="tickets.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
    <div id="template-izt4" class="cell">
        <label id="template-izre" class="label">Groups</label>
        <input id="template-if3zv" [(ngModel)]="tickets.groups"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>
<div id="template-ietkk" class="row">
    <div id="template-itdwp" class="cell">
        <label id="template-imdlu" class="label">Types</label>
        <div id="template-i0r5y" class="">
            <ng-select id="template-ia87g" name="dynamicdropdown_template-ia87g" [searchable]="true"
            [virtualScroll]="true" [items]="TypesitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.types" [ngModelOptions]="{standalone: true}" (click)="TypesGpGetAllValues()"
            class="form-control"></ng-select>
        </div>
        <button id="template-i4hnr" class="button btn btn-primary">Search</button>
    </div>
    <div id="template-ikw9l" class="cell">
        <label id="template-iachl" class="label">Severity</label>
        <div id="template-ino9k" class="">
            <ng-select id="template-itxng" name="dynamicdropdown_template-itxng" [searchable]="true"
            [virtualScroll]="true" [items]="severityitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.severity" [ngModelOptions]="{standalone: true}" (click)="severityGpGetAllValues()"
            class="form-control"></ng-select>
        </div>
    </div>
    <div id="template-i9iky" class="cell"></div>
</div>
<div name="grid_template-isaah" class="">
    <table id="table" class="table table-bordered  table-striped" data-show-header="true"
    data-pagination="true" data-id-field="name">
        <thead class="table table-hover">
            <tr>
                <th *ngFor="let column of columnDefs">{{column.headerName}}</th>
            </tr>
        </thead>
        <tbody class="table-design" *ngIf="rowData.length==0">
            <td style="text-align: center;" colspan="5">No Data Found</td>
        </tbody>
        <tbody class="table-design" *ngIf="rowData.length>0">
            <tr (click)="onSelectionChanged(values)" *ngFor="let values of rowData | slice: (page-1) * paginationPageSize :(page-1) * paginationPageSize + paginationPageSize"
            style="cursor: pointer;">
                <td>{{ values.name }}</td>
                <td>{{ values.description }}</td>
                <td>{{ values.groups }}</td>
                <td>{{ values.types }}</td>
                <td>{{ values.severity }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <ngb-pagination class="d-flex justify-content-start" [(page)]="page" [maxSize]="5"
        [rotate]="true" [pageSize]="paginationPageSize" [collectionSize]="rowData.length"
        [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>
<div id="myGrid" class=""></div>