<h2 class="screen-align">Severity</h2>
<div id="template-isk3" class="row">
    <div id="template-io39" class="cell">
        <label id="template-ib3k" class="label">Name</label>
        <input id="template-iv6t" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iqzu" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-ic24" class="cell">
        <label id="template-i8cv" class="label">Description</label>
        <input id="template-im1s" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>